<ion-view view-title="Change Password">
  <style>
.list .item {
    border: 1px solid #efefef;
}
</style>

<ion-content class="padding" style="padding:0px;" scroll="false">
    <div style="height:100%">
    <form id="changePassword-form16" class="list" style="width: 80%;margin-left: 10%;">
      <ion-list id="changePassword-list16" class=" ">
        <div class="spacer" style="height: 50px;padding-top:5%;"></div>
        <label class="item item-input item-search" id="changePassword-input29" name="tempararyCode">
          <input type="password" class="placeholder-padding-space password-input" placeholder="Old Password" ng-model="changePasswordDTO.oldPassword">
        </label>
         <div class="spacer" style="height: 30px;padding-top:5%;"></div>
        <label class="item item-input item-search" id="changePassword-input30" name="newPassword">
          <input type="text" class="placeholder-padding-space password-input" placeholder="New Password" ng-model="changePasswordDTO.newPassword">
        </label>
        <div class="spacer" style="height: 30px;padding-top:5%;"></div>
        <label class="item item-input item-search" id="changePassword-input31" name="confirmPassword">
          <input type="text" class="placeholder-padding-space password-input" placeholder="Confirm Password" ng-model="changePasswordDTO.confirmPassword">
        </label>
        <div class="spacer" style="height: 30px;padding-top:5%;"></div>
      </ion-list>

      <a ng-click="changePassword()" id="changePassword-button15" class="button save-password">Save</a>
      <a ui-sref="login" id="changePassword-button16" class="cancel_link">Cancel</a>
    </form>
    </div>
  </ion-content>
</ion-view>
